{% extends "user/user_index.html" %}
{% block content %}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="/static/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="/static/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="/static/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="/static/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                <p>At Vimala College, our Placement Cell is dedicated to empowering students by connecting them with the best career opportunities while also helping companies discover exceptional talent. We take pride in guiding students through every stage of their job search, from personalized career counseling and skill development workshops to mock interviews and resume building.</p>

                <p>For employers, we offer a pool of highly skilled, motivated, and job-ready candidates across various disciplines. Our Placement Cell facilitates a smooth hiring process, ensuring your organization finds the right fit for its needs.</p>

                <p>We believe in nurturing talent and providing the necessary tools for students to succeed in the competitive job market. With our extensive industry connections and commitment to excellence, Vimala College stands as a bridge between aspiring professionals and leading companies.</p>

                <a class="btn btn-primary py-3 px-5 mt-3" href="/user_index/">Back</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/wow/wow.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/static/js/main.js"></script>

</body>
</html>
